{% extends 'base.html' %}
{%load static%}


{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
	{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
		{% include 'includes/sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change password</strong>

		</header>
		<div class="card-body">
            
			<div class="row"> 
                <div class="col-md-12">
                    <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group col-md-12">
                                <label for="">Old password</label>
                                <input type="password" name="current_password" class="form-control" required>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">New password</label>
                                <input type="password"name="new_password" class="form-control" required>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Confirm New password</label>
                                <input type="password"name="confirm_new_password" class="form-control" required>
                            </div>
                        <input type="submit" value="Change password" class="btn btn-primary">
                    </form>
                </div>
			</div> <!-- row.// -->
            
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{%endblock%}