{%load static%}




<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-secondary text-white">
	<div class="container">
		<section class="footer-top  padding-y-lg">
			<div class="row">
				<aside class="col-md-4 col-12">
					<article class="mr-md-4">
						<h5 class="title">Contact us</h5>
						<p>Our main office </p>
						<ul class="list-icon">
							<li> <i class="icon fa fa-map-marker"> </i>Warsaw Funny Street 123, Poland </li>
							<li> <i class="icon fa fa-envelope"> </i> alistyle@shop.com</li>
							<li> <i class="icon fa fa-phone"> </i> 123-456-789</li>
							<li> <i class="icon fa fa-clock"> </i>Mon-Sat 10:00pm - 7:00pm</li>
						</ul>
					</article>
				</aside>
				<aside class="col-md col-6">
					<h5 class="title">Information</h5>
					<ul class="list-unstyled">
						<li> <a href="#">About us</a></li>
						<li> <a href="#">Career</a></li>
						<li> <a href="#">Find a store</a></li>
						<li> <a href="#">Rules and terms</a></li>
						<li> <a href="#">Sitemap</a></li>
					</ul>
				</aside>
				<aside class="col-md-4 col-12">
					<h5 class="title">Newsletter</h5>
					<p>Join our newsletter to recive best discounts ! </p>
					<form class="form-inline mb-3" action="{% url 'news'%}" method="post">
						{% csrf_token %}
						<input type="text" placeholder="Email" class="border-0 w-auto form-control" name="email" id="email">
						<button class="btn ml-2 btn-warning" type="submit"> Subscribe</button>
					</form>

					<p class="text-white-50 mb-2">Follow us on social media</p>
					<div>
						<a href="https://www.facebook.com/" class="btn btn-icon btn-outline-light"><i class="fab fa-facebook-f"></i></a>
						<a href="https://www.twitter.com/" class="btn btn-icon btn-outline-light"><i class="fab fa-twitter"></i></a>
						<a href="https://www.instagram.com/" class="btn btn-icon btn-outline-light"><i class="fab fa-instagram"></i></a>
						<a href="https://www.youtube.com/" class="btn btn-icon btn-outline-light"><i class="fab fa-youtube"></i></a>
					</div>

				</aside>
			</div> <!-- row.// -->
		</section>	<!-- footer-top.// -->

		<section class="footer-bottom text-center">
			<p class="text-muted"> &copy <span id="year"></span> Alistyle, All rights reserved </p>
			<br>
	</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$(".mainImage img").attr('src' ,$(this).attr('href'));

		})
	})

	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

</body>
</html>
