
{% load static %}


<header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 col-md-12">
                    <a href="#" class="brand-wrap">
                    <!-- <a href="index.html" class="brand-wrap"> -->
                        <h2>Logo</h2>
                    </a> <!-- brand-wrap.// -->
                </div>
                <div class="col-xl-6 col-lg-5 col-md-6">
                    <form class="search-header">
                        <div class="input-group w-100">
                            <select class="custom-select border-right" name="category_name">
                                <option value="">All type</option>
                                <option value="codex">Special</option>
                                <option value="comments">Only best</option>
                                <option value="content">Latest</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Search">

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </div>
                    </form> <!-- search-wrap .end// -->
                </div> <!-- col.// -->
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="widgets-wrap float-md-right">
                        <div class="widget-header mr-3">
                            <a href="{% static 'profile/proflie.html' %}" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-user"></i>
                                    <span class="notify">3</span>
                                </div>
                                <small class="text"> Proflie </small>
                            </a>
                        </div>
                        <div class="widget-header mr-3">
                            <a href="#" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-comment-dots"></i>
                                    <span class="notify">10</span>
                                </div>
                                <small class="text"> Notification </small>
                            </a>
                        </div>
                        <div class="widget-header mr-3">
                            <a href="{% static 'profile order/order.html' %}" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-store"></i>
                                </div>
                                <small class="text"> Orders </small>
                            </a>
                        </div>
                        <div class="widget-header">
                            <a href="{% static 'shopping card/cart.html' %}" class="widget-view">
                                <div class="icon-area">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <small class="text"> Cart </small>
                            </a>
                        </div>
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->



    <nav class="navbar navbar-main navbar-expand-lg border-bottom">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
                aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <i
                                class="fa fa-bars text-muted mr-2"></i> All Categories </a>
                        <div class="dropdown-menu dropdown-large">
                            <nav class="row">
                                <div class="col-6">
                                    <a href="#">
                                        <h5>Man Fashion</h5>
                                    </a>
                                    <a href="#">Shirt</a>
                                    <a href="#">T-shirt</a>
                                    <a href="#">Jins</a>
                                    <a href="#">Shoe</a>
                                    <a href="#">Sunglass</a>
                                    <a href="#">Panjabi</a>
                                </div>
                                <div class="col-6">
                                    <a href="#">
                                        <h5>Women Fashion</h5>
                                    </a>
                                    <a href="#">Shirt</a>
                                    <a href="#">T-shirt</a>
                                    <a href="#">Jins</a>
                                    <a href="#">Shoe</a>
                                    <a href="#">Sunglass</a>
                                    <a href="#">Panjabi</a>
                                </div>

                                <div class="col-6">
                                    <a href="#">
                                        <h5>Baby Fashion</h5>
                                    </a>
                                    <a href="#">Shirt</a>
                                    <a href="#">T-shirt</a>
                                    <a href="#">Jins</a>
                                    <a href="#">Shoe</a>
                                    <a href="#">Sunglass</a>
                                    <a href="#">Panjabi</a>
                                </div>

                                <div class="col-6">
                                    <a href="#">
                                        <h5>Cosmetics</h5>
                                    </a>
                                    <a href="#">Shirt</a>
                                    <a href="#">T-shirt</a>
                                    <a href="#">Jins</a>
                                    <a href="#">Shoe</a>
                                    <a href="#">Sunglass</a>
                                    <a href="#">Panjabi</a>
                                </div>


                            </nav> <!--  row end .// -->
                        </div> <!--  dropdown-menu dropdown-large end.// -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% static 'profile wishlist/wishlist.html' %}">Wish List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% static 'page content/pageContent.html' %}">Page content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% static 'proflie seller/seller.html' %}">Profile Seller</a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Get the app</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com/"
                            data-toggle="dropdown">English</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Russian</a>
                            <a class="dropdown-item" href="#">French</a>
                            <a class="dropdown-item" href="#">Spanish</a>
                            <a class="dropdown-item" href="#">Chinese</a>
                        </div>
                    </li>
                </ul>
            </div> <!-- collapse .// -->
        </div> <!-- container .// -->
    </nav>

</header> <!-- section-header.// -->