{%load static%}

<header class="section-header">
<nav class="navbar d-none d-md-flex p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTop4">
    <ul class="navbar-nav mr-auto">
		{% if user.id is None %}
    	<li><span class="nav-link">Hi, <a href="{% url 'login' %}"> Sign in </a> or <a href="{% url 'register' %}"> Register </a></span></li>
		{% else %}
		<li><span class="nav-link"> <b>Hi {{ user.first_name }}</b> </li>
		{%endif%}
		<li><a href="#" class="nav-link"> Help </a></li>
    </ul>
    <ul class="navbar-nav">

		{% if user.id is None %}
		{% else %}
		<li><a href="{% url 'logout' %}" class="nav-link"> Logout </a></li>
		<li><a href="{% url 'dashboard'%}" class="nav-link"> Dashboard </a></li>
		{%endif%}
		<li><a href="{% url 'cart' %}" class="nav-link"> <i class="fa fa-shopping-cart"></i> </a></li>			
	</ul> <!-- list-inline //  -->
  </div> <!-- navbar-collapse .// -->
</div> <!-- container //  -->
</nav>

<div class="container">
<section class="header-main border-bottom">
<div class="row row-sm">
	<div class="col-6 col-sm col-md col-lg  flex-grow-0">
		<a href="{% url 'home' %}" class="brand-wrap">
			<img class="logo" src="{%static 'images/logo.svg' %}">
		</a> <!-- brand-wrap.// -->
	</div>
	<div class="col-6 col-sm col-md col-lg flex-md-grow-0">

		<!-- mobile-only -->
		<div class="d-md-none float-right">
			<a href="#" class="btn btn-light"> <i class="fa fa-bell"></i> </a>
			<a href="#" class="btn btn-light"> <i class="fa fa-user"></i> </a>
			<a href="#" class="btn btn-light"> <i class="fa fa-shopping-cart"></i> 2 </a>
		</div>
		<!-- mobile-only //end  -->

		<div class="category-wrap d-none dropdown d-md-inline-block">
			<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">   Shop by 
			</button>
			<div class="dropdown-menu">
				{% for category in categories %}
				<a class="dropdown-item" href="{{category.get_url}}">{{category.category_name}}</a>
				{% endfor %}
			</div>
		</div>  <!-- category-wrap.// -->
	</div> <!-- col.// -->
	<div class="col-lg-6 col-xl col-md-5 col-sm-12 flex-grow-1">
		<form action="{% url 'search' %}" class="search" method="GET">
			<div class="input-group w-100">
				<input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">
				
				<div class="input-group-append">
				  <button class="btn btn-primary" type="submit">
					<i class="fa fa-search"></i>
				  </button>
				</div>
			</div>
		</form> <!-- search-wrap .end// -->
	</div> <!-- col.// -->
	<div class="col col-lg col-md flex-grow-0">
	    <button class="btn btn-block btn-primary" type="submit"> Search </button>
	</div>
</div> <!-- row.// -->
</section> <!-- header-main .// -->


<nav class="navbar navbar-main navbar-expand pl-0">
      <ul class="navbar-nav flex-wrap">
      	<li class="nav-item">
           <a class="nav-link" href="{% url 'home' %}">Home</a>
		</li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store' %}">All Products</a>
        </li>

      </ul>
</nav> <!-- navbar-main  .// -->

</div> <!-- container.// -->
</header> <!-- section-header.// -->
