{% extends "base.html" %}
 {%load static%}
 {% block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
<div class="container">

<!-- ============================ ITEM DETAIL ======================== -->
	<div class="row">
		<aside class="col-md-6">
<div class="card">
<article class="gallery-wrap"> 
    <div class="img-big-wrap mainImage">
        <center><img src="{{single_product.image.url}}"></center>
    </div> <!-- img-big-wrap.// -->
	<div class="thumbs-wrap">
        <ul class="thumb">
            <li>
            <a href="{{single_product.image.url}}" target="mainImage"><img src="{{single_product.image.url}}" alt="Product Image"></a>
            {% for image in product_gallery %}
            <a href="{{image.image.url}}" target="mainImage"><img src="{{image.image.url}}" alt="Product Image"></a>
            {% endfor %}							
            </li>
        </ul>
	</div> <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
</div> <!-- card.// -->
		</aside>
		<main class="col-md-6">

<form action="{% url 'add_cart' single_product.id %}" method="post">
				{% csrf_token %}

<article class="product-info-aside">

<h2 class="title mt-3">{{single_product.product_name}} </h2>

<div class="rating-wrap my-3">
    <div class="title rating-start">
        <i class="fa fa-star{% if single_product.averageReview == 0.5 %}-half-o{%elif single_product.averageReview < 1%}-o{%endif%}" aria-hidden="true"></i>
        <i class="fa fa-star{% if single_product.averageReview == 1.5 %}-half-o{%elif single_product.averageReview < 2%}-o{%endif%}" aria-hidden="true"></i>
        <i class="fa fa-star{% if single_product.averageReview == 2.5 %}-half-o{%elif single_product.averageReview < 3%}-o{%endif%}" aria-hidden="true"></i>
        <i class="fa fa-star{% if single_product.averageReview == 3.5 %}-half-o{%elif single_product.averageReview < 4%}-o{%endif%}" aria-hidden="true"></i>
        <i class="fa fa-star{% if single_product.averageReview == 4.5 %}-half-o{%elif single_product.averageReview < 5%}-o{%endif%}" aria-hidden="true"></i>
    <span>{{single_product.count}} Reviews</span>
    </div>
</div> <!-- rating-wrap.// -->

<div class="mb-3"> 
	<var class="price h4">{{single_product.price}} PLN</var> 
</div> <!-- price-detail-wrap .// -->

<p>{{single_product.description}} </p>

{% if single_product.variation_set.sizes|length > 0 %}
<div class="row">
	<div class="item-option-select">
		<h6>Select Size</h6>
		<select name="size" class="form-control" required>
			<option value="" disabled selected>Choose size</option>
			{% for i in single_product.variation_set.sizes %}
			{% if i.is_active %}
			<option value="{{i.variation_value | lower }}">{{i.variation_value | capfirst }}
			</option>
			{% endif %}
			{% endfor %}
		</select>
	</div>
</div> <!-- row.// -->
{% endif %}

{% if single_product.variation_set.colors|length > 0 %}
<div class="row">
	<div class="item-option-select">
		<h6>Choose Color</h6>
		<select name="color" class="form-control" required>
			<option value="" disabled selected>Choose color</option>
			{% for i in single_product.variation_set.colors %}
			{% if i.is_active %}
			<option value="{{i.variation_value | lower }}">{{i.variation_value | capfirst }}
			</option>
			{% endif %}
			{% endfor %}
		</select>
	</div>
</div> <!-- row.// -->
{% endif %}

	<div class="form-row  mt-4">
		<div class="form-group col-md flex-grow-0">

		</div> <!-- col.// -->
		<div class="form-group col-md">
			{% if single_product.stock <= 0 or single_product.is_available is False %}
			<h5>Out of stock</h5>
			{% else %}
			<button type="submit" class="btn btn-primary"> <span class="text">Add to cart</span> <i
					class="fas fa-shopping-cart"></i> </button>
			{% endif %}
		</div> <!-- col.// -->
	</div> <!-- row.// -->

</article> <!-- product-info-aside .// -->
</form>
		</main> <!-- col.// -->
	</div> <!-- row.// -->

<!-- ================ ITEM DETAIL END .// ================= -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
<div class="container">

	<div class="row">
		<div class="col-md-9">

			{% if user.id is None %}
			<p class="text-center mt-4">You need to be logged in to post review <a href="{% url 'login' %}">Log In</a></p>
			{%else%}
			<form action="{% url 'submit_review' single_product.id %}" method="POST">
				{% csrf_token %}
				<h5>Write your Review</h5>
				<div>
					<label>How do you rate this product? </label>
					<br>
					<div class="rate">
						<input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
						<input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="5" class="half"></label>
						<input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
						<input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="4" class="half"></label>
						<input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
						<input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="3" class="half"></label>
						<input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
						<input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="2" class="half"></label>
						<input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
						<input type="radio" name="rating" id="rating1" value="0" required><label for="rating1" title="1" class="half"></label>
					</div>
					<br>
					Title:
					<input type="text" name="subject" class="form-control" required>
					<br>
					Review:
					<textarea name="review" rows="4" class="form-control"></textarea>
					<br>
					{% if orderproduct is False %}
					<p>You didnt buy this product yet, you cant post review !</p>
					{%else%}
					<input type="submit" value="Submit Review" class="btn btn-primary">
					{%endif%}
				</div>
				<br>
			</form>
			{% endif %}
			{% include 'includes/alerts.html' %}
			<header class="section-heading">
				<h3>Customer Reviews </h3>

			</header>
			{% for comment in comments %}
			<article class="box mb-3">
				<div class="icontext w-100">
					<div class="text">
						<span class="date text-muted float-md-right">{{comment.updated_at}}</span>
						<h6 class="mb-1">{{comment.user.full_name | capfirst }}</h6>
						
					<div class="rating-start">
						<span>
							<i class="fa fa-star{% if comment.rating == 0.5 %}-half-o{%elif comment.rating < 1%}-o{%endif%}" aria-hidden="true"></i>
							<i class="fa fa-star{% if comment.rating == 1.5 %}-half-o{%elif comment.rating < 2%}-o{%endif%}" aria-hidden="true"></i>
							<i class="fa fa-star{% if comment.rating == 2.5 %}-half-o{%elif comment.rating < 3%}-o{%endif%}" aria-hidden="true"></i>
							<i class="fa fa-star{% if comment.rating == 3.5 %}-half-o{%elif comment.rating < 4%}-o{%endif%}" aria-hidden="true"></i>
							<i class="fa fa-star{% if comment.rating == 4.5 %}-half-o{%elif comment.rating < 5%}-o{%endif%}" aria-hidden="true"></i>
						</span>
					</div>							
					</div>

				</div> <!-- icontext.// -->
				<div class="mt-3">
					<h6>{{comment.subject}}</h6>
					<p>
						{{comment.review}}
					</p>
				</div>
			</article>
			{% endfor %}



		</div> <!-- col.// -->
	</div> <!-- row.// -->

</div> <!-- container .//  -->
</section>

{% endblock%}