{% extends "base.html" %}
 {%load static%}
 {% block content%}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">


<!-- ============================  FILTER TOP  ================================= -->

<!-- ============================ FILTER TOP END.// ================================= -->

<header class="mb-3">
		<div class="form-inline">
			<strong class="mr-md-auto">{{product_count}} Items found </strong>
		</div>
</header><!-- sect-heading -->

<div class="row">
    {% for product in products %}
	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<span class="badge badge-danger"> NEW </span>
				<img src="{{product.image.url}}">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="{{product.get_url}}" class="title mb-2">{{product.product_name}}</a>
					<div class="price-wrap">
						<span class="price">{{product.price}} PLN</span> 
						<small class="text-muted">/per item</small>
					</div> <!-- price-wrap.// -->
					

					<hr>
					

				

					<a href="{{product.get_url}}" class="btn btn-outline-primary"> Details </a>	
					
			</figcaption>
		</figure>
        
	</div> <!-- col.// -->
{%endfor%}
	
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
	{% if products.has_other_pages %}
  		<ul class="pagination">
	  		{% if products.has_previous %}
    			<li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
			{% endif %}

		{% for i in products.paginator.page_range %}
			{% if products.number == i %}
   			 <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
			{% else %}
			<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
			{% endif %}
		{% endfor %}
		
		{% if products.has_next %}
		<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
			{% else %}
			<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
		{% endif %}
  </ul>
  {% endif %}
</nav>



</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->


{% endblock%}