{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ============================ ITEM DETAIL ======================== -->
<div class="row">
    <aside class="col-md-6">
<div class="card">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href=""><img src="{{single_product.product_image.url}}"></a></div>
</div> <!-- slider-product.// -->
<!-- <div class="thumbs-wrap">
  <a href="https://bootstrap-ecommerce.com/templates/alistyle-html/page-detail-product.html#" class="item-thumb"> <img src="./Website title - bootstrap html template_files/15.jpg"></a>
  <a href="https://bootstrap-ecommerce.com/templates/alistyle-html/page-detail-product.html#" class="item-thumb"> <img src="./Website title - bootstrap html template_files/15-1.jpg"></a>
  <a href="https://bootstrap-ecommerce.com/templates/alistyle-html/page-detail-product.html#" class="item-thumb"> <img src="./Website title - bootstrap html template_files/15-2.jpg"></a>
  <a href="https://bootstrap-ecommerce.com/templates/alistyle-html/page-detail-product.html#" class="item-thumb"> <img src="./Website title - bootstrap html template_files/15-1.jpg"></a>
</div> -->
 <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
</div> <!-- card.// -->
    </aside>
    <main class="col-md-6">
<article class="product-info-aside">

<h2 class="title mt-3">{{single_product.Product_name}}</h2>

<div class="rating-wrap my-3">
<ul class="rating-stars">
    <li style="width:80%" class="stars-active"> 
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
    </li>
    <li>
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
    </li>
</ul>
<small class="label-rating text-muted">132 reviews</small>
<small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
</div> <!-- rating-wrap.// -->

<div class="mb-3"> 
<var class="price h4">{{single_product.product_price}}</var> 
<span class="text-muted">USD 562.65 incl. VAT</span> 
</div> <!-- price-detail-wrap .// -->

<p>{{single_product.product_description}} </p>


<dl class="row">
<dt class="col-sm-3">Manufacturer</dt>
<dd class="col-sm-9"><a href="https://bootstrap-ecommerce.com/templates/alistyle-html/page-detail-product.html#">Great textile Ltd.</a></dd>

<dt class="col-sm-3">Article number</dt>
<dd class="col-sm-9">596 065</dd>

<dt class="col-sm-3">Guarantee</dt>
<dd class="col-sm-9">2 year</dd>

<dt class="col-sm-3">Delivery time</dt>
<dd class="col-sm-9">3-4 days</dd>

<dt class="col-sm-3">Availabilty</dt>
<dd class="col-sm-9">in Stock</dd>
</dl>

<div class="form-row  mt-4">
    <div class="form-group col-md flex-grow-0">
        <div class="input-group mb-3 input-spinner">
          <div class="input-group-prepend">
            <button class="btn btn-light" type="button" id="button-plus"> + </button>
          </div>
          <input type="text" class="form-control" value="1">
          <div class="input-group-append">
            <button class="btn btn-light" type="button" id="button-minus"> − </button>
          </div>
        </div>
    </div> <!-- col.// -->
    <div class="form-group col-md">
        <a href="https://bootstrap-ecommerce.com/templates/alistyle-html/page-detail-product.html#" class="btn  btn-primary"> 
            <i class="fas fa-shopping-cart"></i> <span class="text">Add to cart</span> 
        </a>
        <a href="https://bootstrap-ecommerce.com/templates/alistyle-html/page-detail-product.html#" class="btn btn-light">
    <i class="fas fa-envelope"></i> <span class="text">Contact supplier</span> 
        </a>
    </div> <!-- col.// -->
</div> <!-- row.// -->

</article> <!-- product-info-aside .// -->
    </main> <!-- col.// -->
</div> <!-- row.// -->

<!-- ================ ITEM DETAIL END .// ================= -->

{% endblock %}